#resultado{
    height: 50px;
    padding: 0 20px;
    border: 1px solid #DDD;
    margin: 20px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    float: left;
    line-height: 50px;
    display: block;
}
ol li a{
    color: blue;
}
ol li a:hover{
    color: red;
}